.main {
  color: #a6a6a6;
  font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console",
    monospace;
  font-size: 14px;
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  text-decoration: none;
  text-decoration-line: none;
}

.clickable {
  cursor: pointer;
  display: inline-block;
}

.quote {
  color: #c7c7c7;
}
.quote:hover {
  color: #d1d1d1;
}

.main blockquote:before {
  content: open-quote;
}

.main blockquote:after {
  content: close-quote;
}
