.main {
  padding: 20px;
  color: #6079aa;
  font-family: "Roboto Mono";
  font-size: 14px;
  line-height: 22px;
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  text-decoration: none;
}

.about {
  text-align: left;
}
.normal {
  color: #6079aa;
  text-decoration: none;
}
.inverse {
  color: #dfdfdf;
  text-decoration: none;
}
.highlight {
  color: #dfdfdf;
  text-decoration: none;
}
.highlight:hover {
  color: #6079aa;
}
.inversehighlight {
  color: #6079aa;
  text-decoration: none;
}
.inversehighlight:hover {
  color: #dfdfdf;
}

.clickable {
  cursor: pointer;
  display: inline-block;
}

.h1 {
  font-size: 20px;
  display: inline-block;
  user-select: none;
}

.h2,
.h3,
.h4,
.h5,
.h6 {
  font-size: 16px;
  color: #6079aa;
  margin-bottom: 0px;
  width: auto;
  user-select: none;
}
