@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body { 
	background: url(https://source.unsplash.com/1920x1080/?night) no-repeat center center fixed;
}

img {
	border-radius: .4em;
	max-width: 20%;
	margin: 1vh 1vh 1vh 1vh;
}

h1 {
	font: 150%/1 Roboto Mono;
	color: hsla(0,0%,100%,.5);
	text-align: center;
	margin: 1vh 1vh 1vh 1vh;
}

h2 {
	font: 100%/1.6 Roboto Mono;
	color: hsla(0,0%,100%,.5);
	text-align: left;
	margin: 1vh 1vh 1vh 1vh;
}

a {
	color: hsla(0, 0%, 100%, 0.945);
	text-decoration: none;
}

main {
    max-width: 80%;
    backdrop-filter: blur(20px);
    overflow: hidden;
    border-radius: .4em;
    box-shadow: 0 0 0 2px hsla(0,0%,100%,.3) inset;
    text-align: center;
}

blockquote { font-style: italic }
blockquote cite { font-style: normal; }